<div class="container" id="question-show-container">
  <div>
    <div>
      <h1>{{$ctrl.question.title}}</h1>
    </div>
  </div>
  <hr/>
  <pagedown-viewer content="$ctrl.question.content"></pagedown-viewer>
	<hr/>


	<h3>{{$ctrl.question.answers.length}} Answers</h3>

	<div ng-repeat="answer in $ctrl.question.answers">
		<hr/>
		<div class="answer">
	  	  <pagedown-viewer content="answer.content"></pagedown-viewer>
		</div>
	</div>

	<hr/>

	<h3>Your answer</h3>

	<form name="answerForm" ng-submit="$ctrl.submitAnswer()">
	    <pagedown-editor ng-model="$ctrl.newAnswer.content"></pagedown-editor>
	  <input type="submit" class="btn btn-primary" value="Submit your answer">
	</form>
</div>